<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applemacbookpro.teleport">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Teleport"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".busroutes" />
        <activity android:name=".TicketBooking" />
        <activity android:name=".BusPass" />
        <activity android:name=".Result" />
        <activity android:name=".Payment" />
        <activity android:name=".QrGenerator" />
        <activity android:name=".history" />
        <activity android:name=".ticketfare" />
        <activity android:name=".Final" />
        <activity android:name=".BusPassFare"></activity>
    </application>

</manifest>